@model IEnumerable<Restaurant_Pierre.Models.MostrarProducto>

@{
    ViewData["Title"] = "Index";
    Layout = null;
    bool i = false;
    string bg= "hola";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Layout principal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
            width: 100%;
            height:300px;
            max-width:100;
            /* height: 100px; */
        }

            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
            }

        .container {
            padding: 2px 16px;
        }

        .col {
            min-width: 300px; 
            max-width: 300px; 
        }

        a.nav-link {
            color: #007bff; /* Color azul por defecto */
        }

            a.nav-link:hover {
                color: #FFFFFF; /* Cambia a azul primario al pasar el cursor */
                text-decoration: none; /* Elimina la decoración subyacente */
                transform: translateY(-3px);
                height: 10%;
            }

        body {
            background-color: peachpuff;
        }

        .contenedor-flex {
            display: flex; /* Activar flexbox */
            justify-content: space-between;
        }
    </style>
</head>
<body >
    <header>
    </header>
    <nav class="navbar navbar-expand-sm bg-dark ">
        <div class="container-fluid">
            <div class="nav__logo">
                <h1 style="text-align:end; color: peachpuff;">Restaurante Pierre</h1>
            </div>
            <ul class="navbar-nav align-items-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">Comidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Bebidas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Otros</a>
                </li>
                
                
            </ul>
        </div>
    </nav>

    <main>




      

        
            <div class="container-fluid mt-3">

            <h2 style="text-align:center;">Catalogo general</h2>
                <br />
                <br />
            <div class="row justify-content-center">
                    
                @foreach (var item in Model)
                {
                   @if(!i){
                        bg = "primary";
                        i = true;
                    }
                    else
                    {
                        bg = "dark";
                        i = false;
                    }


                    <div class="col mx-2 my-1">
                        <div class="card">
                            <img src="https://images.unsplash.com/photo-1580757468214-c73f7062a5cb?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8MTYlM0E5fGVufDB8fDB8fHww" alt="Avatar" style="width:100%">
                            <div class="container">
                                <h4><b>@item.Producto</b></h4>
                                <p>@item.Descripcion</p>
                                @* <h5>@item.Precio</h5> *@
                                <div class="contenedor-flex">
                                    <h5>@item.Precio</h5>
                                    <button class="btn btn-primary">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                
                    @* <div class="col p-3 bg-dark text-white">.col</div>
                    <div class="col p-3 bg-primary text-white">.col</div> *@
                </div>
            </div>
            
        
        
    </main>

    <footer>
    </footer>
</body>
</html>




@* <h1>Index</h1>

        <p>
            <a asp-action="Create">Create New</a>
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Producto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Precio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.SubCategoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categoria)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrecioPromo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Producto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Precio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SubCategoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Categoria)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrecioPromo)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descripcion)

                        </td>

                        <td>

                        </td>
                    </tr>
                }


            </tbody>


        </table> *@